.u-section-1 .u-sheet-1 {
  min-height: 117px;
}

.u-section-1 .u-text-1 {
  margin: 38px auto 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
} .u-section-2 {
  min-height: 471px;
}

.u-section-2 .u-shape-1 {
  height: 450px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1190px;
  margin: -429px auto 28px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 472px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-group-elements-1 {
  width: 287px;
  min-height: 76px;
  height: auto;
  margin: 203px 25px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 19px 0 0;
}

.u-section-2 .u-image-1 {
  height: 220px;
  width: 197px;
  --radius: 50px;
  object-position: 50% 100%;
  margin: -148px auto 0 29px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 472px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-group-elements-2 {
  width: 287px;
  min-height: 77px;
  height: auto;
  margin: 203px 24px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0 auto 0 1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  height: 220px;
  width: 197px;
  --radius: 50px;
  object-position: 50% 100%;
  margin: -149px auto 0 33px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
    min-height: 493px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2)  + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    filter: none;
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 75.39%;
    background-size: cover;
  }

  .u-section-2 .u-layout-cell-2 {
    filter: none;
    min-height: 373px;
  }

  .u-section-2 .u-image-2 {
    background-position: 50% 75.39%;
    background-size: cover;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 137px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
    margin-top: -327px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2351px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2)  + 540px);
    margin-top: -1067px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1101px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: -307px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://www.tigahealth.com/wp-content/uploads/2024/05/what-is-digital-healthcare-ecosystem5.jpg');
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 393px;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  width: 826px;
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 117px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/is-data-analytics-hard-a-guide-to-getting-started-in-2022-scaled-1-scaled.jpeg');
  background-position: 50% 50%, 50% 51.92%;
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 411px;
}

.u-section-4 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 106px auto 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 400px;
  min-width: 160px;
  margin: 31px auto 60px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-social-icons-1 {
    width: 340px;
  }
}