 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/images/photo-1551288049-bebda4e38f71.jpeg');
}

.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 261px 301px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px 301px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 60px 0;
  padding: 18px 36px 19px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 515px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 53px 636px 0 67px;
}

.u-section-2 .u-line-1 {
  width: 855px;
  transform-origin: right center;
  margin: 94px auto 0 145px;
}

.u-section-2 .u-shape-1 {
  width: 38px;
  height: 38px;
  background-image: linear-gradient(#b85cd9, #d8bbe3);
  margin: -21px auto 0 146px;
}

.u-section-2 .u-shape-2 {
  width: 38px;
  height: 38px;
  background-image: linear-gradient(#87c3c7, #3cbbc4);
  margin: -38px auto 0 310px;
}

.u-section-2 .u-shape-3 {
  width: 38px;
  height: 38px;
  background-image: linear-gradient(#b85cd9, #d8bbe3);
  margin: -38px auto 0 473px;
}

.u-section-2 .u-shape-4 {
  width: 38px;
  height: 38px;
  background-image: linear-gradient(#87c3c7, #3cbbc4);
  margin: -38px auto 0 636px;
}

.u-section-2 .u-shape-5 {
  width: 38px;
  height: 38px;
  background-image: linear-gradient(#b85cd9, #d8bbe3);
  margin: -38px auto 0 799px;
}

.u-section-2 .u-shape-6 {
  width: 38px;
  height: 38px;
  background-image: linear-gradient(#87c3c7, #3cbbc4);
  margin: -38px auto 0 963px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 7px auto 0 126px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: -48px auto 0 287px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -48px auto 0 442px;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: -48px auto 0 617px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: -48px auto 0 772px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: -24px auto 0 931px;
}

.u-section-2 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 32px 259px 0 772px;
}

.u-section-2 .u-text-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -128px 105px 0 926px;
}

.u-section-2 .u-text-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -143px 916px 0 105px;
}

.u-section-2 .u-text-11 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -179px 579px 0 437px;
}

.u-section-2 .u-text-12 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -179px 757px 0 274px;
}

.u-section-2 .u-text-13 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -128px 431px 25px 600px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 52px;
    margin-right: 503px;
    margin-left: 105px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 142px;
    margin-left: 85px;
  }

  .u-section-2 .u-shape-1 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-left: 131px;
  }

  .u-section-2 .u-shape-2 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-left: 259px;
  }

  .u-section-2 .u-shape-3 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-left: 387px;
  }

  .u-section-2 .u-shape-4 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-left: 515px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 643px;
  }

  .u-section-2 .u-shape-6 {
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-left: 771px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 364px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 637px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 769px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 159px;
    margin-left: 672px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 5px;
    margin-left: 826px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 816px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 479px;
    margin-left: 337px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 657px;
    margin-left: 174px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 331px;
    margin-bottom: 34px;
    margin-left: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 283px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 116px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 244px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 372px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 500px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 567px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 567px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 220px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 279px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 389px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 488px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 589px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 49px;
    margin-left: 562px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 601px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 369px;
    margin-left: 227px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 547px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 221px;
    margin-left: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 53px;
    margin-right: 103px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-top: 158px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 387px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 387px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 387px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 165px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 209px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 292px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 366px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 442px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 431px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 431px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 421px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 279px;
    margin-left: 137px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 431px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 131px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 49px;
    margin-right: 0;
    font-size: 2rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    margin-left: 187px;
  }

  .u-section-2 .u-shape-3 {
    margin-left: 187px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 187px;
  }

  .u-section-2 .u-shape-5 {
    margin-left: 187px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 187px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 79px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 104px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 132px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 184px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 230px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 278px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 231px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 231px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 221px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 179px;
    margin-left: 37px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 231px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 31px;
    margin-left: 200px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 29px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 728px;
  --gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-3 .u-group-elements-1 {
  width: 307px;
  min-height: 120px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  filter: none;
  margin: 0 243px 0 0;
  padding: 4px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  margin: 30px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px 30px 0;
}

.u-section-3 .u-group-elements-2 {
  width: 307px;
  min-height: 120px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  filter: none;
  margin: 0 243px 0 0;
  padding: 4px;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-line-2 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  margin: 30px auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 60px 30px 0;
}

.u-section-3 .u-group-elements-3 {
  width: 307px;
  min-height: 120px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  filter: none;
  margin: 0 243px 0 0;
  padding: 4px;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-line-3 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  margin: 30px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 60px 30px 0;
}

.u-section-3 .u-group-elements-4 {
  width: 307px;
  min-height: 120px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  filter: none;
  margin: 0 243px 0 0;
  padding: 4px;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-line-4 {
  width: 100px;
  height: 0;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 458px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -230px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 600px;
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-top: 138px;
  }
} .u-section-4 {
  min-height: 493px;
}

.u-section-4 .u-gallery-1 {
  height: 363px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 0px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-1 {
  object-position: 50% 100%;
  width: 363px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-2 {
  width: 363px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-3 {
  width: 363px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-4 {
  width: 363px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-5 {
  width: 363px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-6 {
  width: 363px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 699px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-5 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 50px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: 700;
  --radius: 20px;
  padding: 25px 30px;
}

.u-section-5 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: 700;
  --radius: 20px;
  padding: 25px 30px;
}

.u-section-5 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: 700;
  --radius: 20px;
  padding: 25px 30px;
}

.u-section-5 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 728px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 59px;
  }

  .u-section-5 .u-accordion-1 {
    margin-bottom: 59px;
  }

  .u-section-5 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-accordion-link-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/is-data-analytics-hard-a-guide-to-getting-started-in-2022-scaled-1-scaled.jpeg');
  background-position: 50% 50%, 50% 51.92%;
  background-size: cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 411px;
}

.u-section-6 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 60px auto 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 400px;
  min-width: 160px;
  margin: 31px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-text-2 {
  width: 527px;
  letter-spacing: 2px;
  margin: 30px auto 60px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-6 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-6 .u-text-1 {
    width: 340px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }
}